# Database (TiDB Serverless / MySQL)
DATABASE_URL="mysql://Qn9hKFNZufrAbFx.root:KEvEhliUl44N5LID@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/jammuserve?sslaccept=strict"

# Auth.js / NextAuth
NEXTAUTH_SECRET="b0af820059fd8813d18431c79161bdfbcf99a4f810aeceb783f052e1440825ee"
NEXTAUTH_URL="http://localhost:3000"

# Cloudinary
CLOUDINARY_URL="cloudinary://973564718147635:HI1C1HsrkVvE16f4nY2L2MNOk4M@dfwgz1pd7"

# AI Provider (Phase 6)
AI_PROVIDER_KEY=""

